@font-face {
    font-family: 'Gotham Narrow Medium';
    src: url('./../../resources/fonts/Gotham-Narrow-Font/Gotham\ Narrow-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Gotham Narrow Medium';
    src: url('./../../resources/fonts/Gotham-Narrow-Font/Gotham\ Narrow-Medium\ Italic.otf') format('opentype');
    font-style: italic;
}
@font-face {
    font-family: 'Gotham Narrow Medium';
    src: url('./../../resources/fonts/Gotham-Narrow-Font/Gotham\ Narrow-Bold.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'Gotham Narrow Medium';
    src: url('./../../resources/fonts/Gotham-Narrow-Font/Gotham\ Narrow-Bold\ Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
