@import 'tailwindcss';

@theme {
    --default-font-family: 'Gotham Narrow Light', sans-serif;
    --font-sans: 'Gotham Narrow Light', sans-serif;

    --color-primary: #0C0F11;
    --color-secondary: #012169;
    --color-tertiary: #EA3601;
}
