@import "tailwindcss";

@theme {
    --default-font-family: 'Gotham Narrow Light', sans-serif;
    --font-sans: 'Gotham Narrow Light', sans-serif;

    --color-primary: #0C0F11;
    --color-primary-sub: #242729;

    --color-secondary: #012169;
    --color-tertiary: #EA3601;

    --color-primary-font: #FFF;

    --color-dark-blue-link: #4F3EF5;
}
