@font-face {
    font-family: 'Gotham Narrow Medium';
    src: url('./resources/fonts/Gotham-Narrow-Font/Gotham\ Narrow-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-size: medium;
}
@font-face {
    font-family: 'Gotham Narrow Medium';
    src: url('./resources/fonts/Gotham-Narrow-Font/Gotham\ Narrow-Medium\ Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-size: medium;
}
@font-face {
    font-family: 'Gotham Narrow Medium';
    src: url('./resources/fonts/Gotham-Narrow-Font/Gotham\ Narrow-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-size: medium;
}
@font-face {
    font-family: 'Gotham Narrow Medium';
    src: url('./resources/fonts/Gotham-Narrow-Font/Gotham\ Narrow-Bold\ Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-size: medium;
}

@font-face {
    font-family: 'Gotham Narrow Light';
    src: url('./resources/fonts/Gotham-Narrow-Font/Gotham\ Narrow-Light.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
